---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Our Services">
    <h1>Services We Offer</h1>
    <ul>
        <li><a href="/services/web-design">Web Design</a></li>
        <li><a href="/services/marketing">Marketing</a></li>
    </ul>
</Layout>

